<!-- Hero Section -->
<section class="hero-section">
  <h1>
    Welcome to CSE Motors!
  </h1>

  <%# messages() %>

  <picture>
    <source media="(min-width: 1000px )" srcset="/images/site/hero-image-large.webp">
    <source media="(min-width: 500px)" srcset="/images/site/hero-image-medium.webp">
    <img src="/images/site/hero-image-small.webp" alt="DMC Delorean" width="500" height="250">
  </picture>
  <div class="carDetail">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders Super doors Fuzzy dice!</p>
    <a href="">Own Today</a>
  </div>
</section>

<!-- Reviews/Upgrade Section -->
<section class="reviews-upgrades-section">
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traverling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly." (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>

  <div class="upgrades">
    <h2>Delorean Upgrades</h2>

    <div class="upgrades-container">
      <div class="upgrade">
        <div>
          <img src="images/upgrades/flux-cap.png" alt="Flux cap">
        </div>
        <a href="">Flux Capacitor</a>
      </div>
      <div class="upgrade">
        <div>
          <img src="images/upgrades/flame.jpg" alt="Flame">
        </div>
        <a href="">Flux Decals</a>
      </div>
      <div class="upgrade">
        <div>
          <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper sticker">
        </div>
        <a href="">Bumper Sticker</a>
      </div>
      <div class="upgrade">
        <div>
          <img src="images/upgrades/hub-cap.jpg" alt="Hub cap">
        </div>
        <a href="">Hub Cap</a>
      </div>
    </div>
  </div>
</section>