/******* Theme ***************/
:root {
  --primary-color: #01B0D3;
  --secondary-color: #242332;
  --accent-color: #ECEDED;
  --color-white: #fff;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/******* Default Element Styling ***************/
h1,
h2 {
  font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
  color: var(--secondary-color);
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

section {
  padding: 2rem 1rem;
}

/******* Header Styling ***************/
#top-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .siteName {
    font-size: 32px;
    font-family: 'Roboto Serif';

  }

  a {
    color: var(--secondary-color);
  }
}

/******* Navigation Styling ***************/
nav {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--color-white);

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}

/******* Main Styling ***************/
#wrapper {
  max-width: 1170px;
  margin: auto;
  background-color: var(--color-white);
}

/******* Hero *******/
.hero-section {
  position: relative;
  height: fit-content;

  img {
    object-fit: contain;
  }

  .carDetail {
    position: absolute;
    background-color: rgba(236, 237, 237, 0.4);
    color: var(--primary-color);
    max-width: 150px;
    padding: 1rem;
    top: 40%;

    p {
      margin-bottom: 1rem;
    }

    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-weight: 700;
    }
  }
}

/******* Reviews & Upgrades *******/
.reviews-upgrades-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  .reviews {
    ul {
      list-style: inside;
    }
  }

  .upgrades-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .upgrade {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        min-width: 100px;
        width: 100%;
        text-align: center;
        background-color: var(--primary-color);
        border: 1px solid var(--secondary-color);
      }

      img{
        width: 70px;
      }
    }
  }
}


/******* Footer Styling ***************/
footer {
  padding: 2rem 0;
  text-align: center;
}

/******* Media Queries ***************/
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/site/checkerboard.jpg);
    padding: 1rem;
  }

  #wrapper {
    border-radius: 8px;
    border: 8px solid var(--primary-color);
  }

  .hero-section{
    .carDetail {
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
      max-width: 200px;
    }
  }

  .reviews-upgrades-section {
    flex-direction: row-reverse;
    > div {
      flex: 1;
    }
  }
}