<h1>
  <%= title %>
</h1>

<%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>

      <div class="form-container">
        <form id="addClassificationForm" action="/inv/add-classification" method="post">
          <div class="form-content">
            <p class="form-notice"><em>Field is required.</em></p>

            <label for="classification_name">Classification Name</label>
            <p class="input-hint"><em>Name must be alphabetic characters only.</em></p>
            <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z]+$"
              title="Classification name must contain only alphabetic characters (no spaces or special characters)">

            <button type="submit" class="form-btn">Add Classification</button>
          </div>
        </form>
      </div>